<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Replication</title>
    <script src="Scripts/angular/angular.js"></script>
    <script src="Scripts/angular/services/replicationService.js"></script>
    <script src="Scripts/angular/controllers/replicationCtr.js"></script>
    
</head>
<body>
<div ng-app="main">
    <div ng-controller="replicationCtr">
        <p>Name : <input type="text" ng-model="ID"></p>
        <h1>Hello {{ID}}</h1>
        <button ng-click='getUser(ID)'>Start</button>
    </div>

</div>
</body>
</html>
